body {
  font-family: monospace;
}

/* --- Left Menu --- */

.leftMenuWrapper {
  position: relative;
}

.leftMenu {
  width: 50px;
  min-height: 500px;
  background: gray;
}

.leftMenuButton {
  width: 48px;
  height: 48px;
  border: solid 1px rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftMenuButton:hover {
  background: rgb(197, 197, 197);
  cursor: pointer;
}

.leftMenuButton.disabled {
  color: rgb(80, 80, 80);
}

.leftMenuButton.disabled:hover {
  color: rgb(80, 80, 80);
  cursor: auto !important;
  background: transparent !important;
}

/* --- Selection Bar --- */

.selectionBar {
  width: 232px;
  height: 500px;
  background: #bbbbbb;
  position: absolute;
  top: 0px;
  left: 50px;
}

.selectionBarTitleBar {
  height: 25px;
  display: flex;
  border-bottom: solid 1px gray;
  box-sizing: border-box;
}

.selectionBarTitleBarTitle {
  flex-grow: 2;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.selectionBarTitleBarCloseButton {
  flex-basis: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 1px gray;
  cursor: pointer;
}

.selectionBarTitleBarCloseButton:hover {
  background: #dddddd;
}

.selectionBarContent {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 475px;
}

.selectionBarItem {
  width: 70px;
  height: 90px;
  border: solid 1px gray;
  font-size: 10px;
  cursor: pointer;
}

.selectionBarItem:hover {
  background: #dddddd;
}

.selectionBarItemImage {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.selectionBarItemName {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
