body {
  font-family: monospace;
}

.leftMenu {
  width: 50px;
  min-height: 200px;
  background: gray;
}

.leftMenuButton {
  width: 48px;
  height: 48px;
  border: solid 1px rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftMenuButton:hover {
  background: rgb(197, 197, 197);
  cursor: pointer;
}

.leftMenuButton.disabled {
  color: rgb(80, 80, 80);
}

.leftMenuButton.disabled:hover {
  color: rgb(80, 80, 80);
  cursor: auto !important;
  background: transparent !important;
}
